<main class="check-email__container">
  <section class="check-email__wrapper">
    <div class="check-email__illustration">
      <img alt="mail_box" src="assets/mailbox.svg" />
    </div>
    <div class="check-email__content">
      <div class="check-email__logo">
        <img alt="logo" src="assets/logo.svg" />
      </div>
      <div class="check-email__header">
        <h1>Check your email</h1>
        <p>
          We've sent a reset password to: <br />
          <span>{{ userEmail() }}</span>
        </p>
      </div>
    </div>
  </section>
</main>
