<div class="grid-container">
  <div class="table__container">
    <div class="actions__wrapper">
      <div class="actions__left">
        <span>Budget</span>
        <div class="search__input__wrapper">
          <app-rounded-input
            [control]="searchValue"
            placeholder="Search name, email" />
        </div>
      </div>
      <div class="actions__right">
        <button class="filter__btn btn" mat-flat-button>
          <mat-icon>filter_list</mat-icon>
          Filter by
        </button>
        <button
          [disabled]="!data.length"
          (click)="downloadCSV()"
          class="download__btn btn"
          mat-flat-button>
          <mat-icon>download</mat-icon>
          Download CSV
        </button>
        <button
          routerLink="../create-budget"
          class="add__btn btn"
          mat-flat-button
          color="primary">
          <mat-icon>add</mat-icon>
          New Budget
        </button>
      </div>
    </div>
    @if (isLoadingResults) {
      <div class="empty-table loading-results">
        @if (isLoadingResults) {
          <mat-spinner></mat-spinner>
        }
      </div>
    }
    @if (!isLoadingResults && !data.length) {
      <div class="empty-table no-results">
        <span>No budgets found</span>
      </div>
    }
    <div class="table-container">
      <table
        mat-table
        [dataSource]="data"
        class="example-table"
        matSort
        matSortActive="created"
        matSortDisableClear
        matSortDirection="desc">
        <!-- Number Column -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef>Total Allocated</th>
          <td mat-cell *matCellDef="let row">
            {{ row.total | currency: 'GH&#8373; ' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let row">
            <mat-chip
              [class.status__chip__active]="row.status === 'active'"
              [class.status__chip__inactive]="row.status === 'inactive'">
              <span>{{ row.status | titlecase }}</span>
            </mat-chip>
          </td>
        </ng-container>
        <ng-container matColumnDef="totalDistribution">
          <th mat-header-cell *matHeaderCellDef>Total Distribution</th>
          <td mat-cell *matCellDef="let row">
            <mat-chip
              [class.status__chip__active]="row.totalDistribution <= row.total"
              [class.status__chip__inactive]="
                row.totalDistribution > row.total
              ">
              <span>{{ row.totalDistribution | currency: 'GH&#8373; ' }}</span>
            </mat-chip>
          </td>
        </ng-container>
        <ng-container matColumnDef="surplus">
          <th mat-header-cell *matHeaderCellDef>Deficit</th>
          <td mat-cell *matCellDef="let row">
            {{ row.surplus | currency: 'GH&#8373; ' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="more">
          <th mat-header-cell *matHeaderCellDef>More</th>
          <td mat-cell *matCellDef="let row">
            <button [matMenuTriggerFor]="menu" mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item><mat-icon>edit</mat-icon>Edit</button>
              <button class="delete__btn" mat-menu-item>
                <mat-icon color="warn">delete</mat-icon>Delete
              </button>
              @if (row.status === 'active') {
                <button mat-menu-item>
                  <mat-icon>hide_source</mat-icon>Deactivate
                </button>
              }
              @if (row.status === 'inactive') {
                <button mat-menu-item>
                  <mat-icon>check</mat-icon>Activate
                </button>
              }
            </mat-menu>
          </td>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="utilized">
          <th mat-header-cell *matHeaderCellDef>Total Utilized</th>
          <td mat-cell *matCellDef="let row">
            {{ row.utilized | currency: 'GH&#8373; ' }}
          </td>
        </ng-container>

        <!-- State Column -->
        <ng-container matColumnDef="termDate">
          <th mat-header-cell *matHeaderCellDef>Term Dates</th>
          <td mat-cell *matCellDef="let row">
            {{ getShortMonthName(row.startDate) }} -
            {{ getShortMonthAndYear(row.endDate) }}
          </td>
        </ng-container>

        <!-- Created Column -->
        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Created at</th>
          <td mat-cell *matCellDef="let row">{{ row.created_at | date }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <mat-paginator
      [length]="totalItems"
      [pageSize]="10"
      (page)="onPaginationChange($event)"
      [pageIndex]="page.value ? page.value - 1 : 0"
      [pageSizeOptions]="[]"
      aria-label="Select page of GitHub search results"></mat-paginator>
  </div>
</div>
