<main class="verification__container">
  <section class="verification__wrapper">
    <div class="verification__illustration">
      <img alt="2fa" src="assets/2fa.svg" />
    </div>
    <div class="verifcation__form">
      <div class="verification__logo">
        <img alt="logo" src="assets/logo.svg" />
      </div>
      <div class="verifcation__header">
        <h1>We've emailed you a code</h1>
        <p>
          Please enter the verification code sent to: <br />
          <span>{{ userEmail() }}</span>
        </p>
      </div>
      <ng-otp-input
        (onInputChange)="onOtpChange($event)"
        [config]="{
          length: 6,
          allowNumbersOnly: true,
          disableAutoFocus: true
        }"></ng-otp-input>
      <div class="verifcation__action">
        <button
          (click)="verifyLogin()"
          [disabled]="!isButtonEnabled || loading"
          class="submit__btn"
          mat-flat-button
          type="submit">
          @if (loading) {
            <span class="loading">Loading...</span>
          } @else {
            <span>Continue</span>
          }
        </button>
        <div class="verifcation__action__text">
          <span>Didn't get the code?</span>
          <button
            (click)="resendCode()"
            [disabled]="isResendLoading"
            class="verification__resend__link">
            @if (isResendLoading) {
              <span class="loading">Loading...</span>
            } @else {
              <span class="resend-otp">Resend code</span>
            }
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
