<app-spinner [isLoading]="loading" />

<div class="">
  @if (showBanner) {
    <app-banner
      [text]="'Please complete your profile details below'"
      [backgroundColor]="'blue'"
      (closeBtn)="closeBanner()" />
  }
  <!-- <app-user-profile /> -->
  <div class="user-profile__container">
    <div class="user-profile__wrapper">
      <h1 class="user-profile__title">Beneficiary information</h1>
      <p class="user-profile__description">Details of the beneficiary</p>
      <ngx-avatars
        [name]="userName"
        class="avatar"
        size="120"
        src=""></ngx-avatars>

      <mat-card class="card__container">
        <mat-card-header class="card__header">
          Personal information
        </mat-card-header>
        <mat-card-content class="card__content">
          <form [formGroup]="userProfileForm">
            <div class="user-profile-form">
              <!-- Left -->
              <div class="card-content__left">
                <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input
                    matInput
                    formControlName="name"
                    id="name"
                    type="text" />
                  <mat-error>{{ getFormErrors('name') }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Parent's Name</mat-label>
                  <input
                    matInput
                    formControlName="parent"
                    id="parent"
                    type="text" />
                  <mat-error>{{ getFormErrors('parent') }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Student's bio</mat-label>
                  <textarea
                    matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                    formControlName="description"
                    id="description"
                    type="">
                  </textarea>
                  <mat-error>{{ getFormErrors('description') }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Grand Parent's Name</mat-label>
                  <input
                    matInput
                    formControlName="grandParent"
                    id="grandParent"
                    type="text" />
                  <mat-error>{{ getFormErrors('grandParent') }}</mat-error>
                </mat-form-field>
              </div>

              <!-- Right -->
              <div class="card-content__right">
                <mat-form-field appearance="outline">
                  <mat-label>Phone</mat-label>
                  <input
                    matInput
                    formControlName="phone"
                    id="phone"
                    type="tel" />
                  <mat-error>{{ getFormErrors('phone') }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Parent's Phone</mat-label>
                  <input
                    matInput
                    formControlName="parentPhone"
                    id="parentPhone"
                    type="text" />
                  <mat-error>{{ getFormErrors('parentPhone') }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Great Grand Parent's Name</mat-label>
                  <input
                    matInput
                    formControlName="greatGrandparent"
                    id="greatGrandparent"
                    type="text" />
                  <mat-error>{{ getFormErrors('greatGrandparent') }}</mat-error>
                </mat-form-field>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>

      <mat-card class="education-container">
        <mat-card-header class="card__header">
          Education information
        </mat-card-header>
        <mat-card-content class="eductaion-content">
          <form [formGroup]="userProfileForm">
            <div class="user-profile-form">
              <!-- Left -->
              <div class="card-content__left">
                <mat-form-field appearance="outline">
                  <mat-select
                    [formControl]="userProfileForm.controls.school"
                    placeholder="School"
                    #singleSelect>
                    <mat-option>
                      <ngx-mat-select-search
                        ngxMatSelectSearchClear="fsdfsd"
                        placeholderLabel="Search school"
                        noEntriesFoundLabel="No school found"
                        [formControl]="
                          schoolFilterCtrl
                        "></ngx-mat-select-search>
                    </mat-option>
                    <mat-option
                      *ngFor="let school of filteredSchools | async"
                      [value]="school.id">
                      {{ school.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <!-- Right -->
              <div class="card-content__right">
                <!--                <mat-form-field appearance="outline">-->
                <!--                  <mat-label>Class</mat-label>-->
                <!--                  <input-->
                <!--                    matInput-->
                <!--                    formControlName="level"-->
                <!--                    id="level"-->
                <!--                    type="text" />-->
                <!--                  <mat-error>{{ getFormErrors('level') }}</mat-error>-->
                <!--                </mat-form-field>-->
                <mat-form-field appearance="outline">
                  <mat-label>Select Class</mat-label>
                  <mat-select formControlName="level">
                    @for (classItem of classesList; track classItem) {
                      <mat-option [value]="classItem">{{
                        classItem
                      }}</mat-option>
                    }
                  </mat-select>
                  <mat-error>{{ getFormErrors('level') }}</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="btn__wrapper">
              @if (!beneficiaryExists) {
                <button
                  [disabled]="userProfileForm.invalid || isLoading"
                  class="submit__btn"
                  mat-flat-button
                  color="primary"
                  type="submit"
                  (click)="createBeneficiary()">
                  @if (isLoading) {
                    <span class="loading">Loading...</span>
                  } @else {
                    <span>Save</span>
                  }
                </button>
              } @else {
                <button
                  [disabled]="userProfileForm.invalid || isUpdateLoading"
                  class="submit__btn"
                  mat-flat-button
                  color="primary"
                  type="submit"
                  (click)="updateBeneficiary()">
                  @if (isUpdateLoading) {
                    <span class="loading">Loading...</span>
                  } @else {
                    <span>Update</span>
                  }
                </button>
              }
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
