<div class="main-container">
  <div class="title">
    <span class="main">{{ title }}</span>
    <span class="sub">{{ subtext }}</span>
  </div>
  <form
    (ngSubmit)="submit()"
    [formGroup]="budgetForm"
    class="add-user__form__container">
    <mat-form-field appearance="outline">
      <mat-label>Select Period</mat-label>
      <mat-select formControlName="period">
        @for (budgetPeriod of budgetPeriods; track budgetPeriod.value) {
          <mat-option [value]="budgetPeriod.value">{{
            budgetPeriod.label
          }}</mat-option>
        }
      </mat-select>
      <mat-error>{{ getFormErrors('period') }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Select Year</mat-label>
      <mat-select formControlName="year">
        @for (year of getYearsDropDownValues().slice(1); track year.value) {
          <mat-option [value]="year.value">{{ year.label }}</mat-option>
        }
      </mat-select>
      <mat-error>{{ getFormErrors('year') }}</mat-error>
    </mat-form-field>
    <div class="actions">
      <button
        [disabled]="isLoading"
        class="submit__btn cancel"
        mat-flat-button
        mat-dialog-close
        type="button">
        <span>Cancel</span>
      </button>
      <button
        [disabled]="isLoading"
        class="submit__btn"
        mat-flat-button
        color="primary"
        type="submit">
        @if (isLoading) {
          <span class="loading">Loading...</span>
        } @else {
          <span>{{ buttonText }}</span>
        }
      </button>
    </div>
  </form>
</div>
