<main class="login__container">
  <section class="login__wrapper">
    <div class="login__illustration">
      <img src="../../assets/saving_money.svg" alt="saving_money" />
      <div class="login__company__name">
        <span
          >Seanenyuiawo <br />
          Educational Foundation</span
        >
        <p>SEF 2009AD</p>
      </div>
    </div>
    <div class="login__form">
      <div class="login__logo">
        <img src="../../assets/logo.svg" alt="logo" />
      </div>
      <div class="login__header">
        <h1>Login</h1>
        <p>Please enter your details to login</p>
      </div>
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        class="login__form__container">
        <mat-form-field>
          <mat-label for="email">Email </mat-label>
          <input matInput id="email" type="email" formControlName="email" />
        </mat-form-field>
        @if (
          loginForm.get('email')?.invalid && loginForm.get('email')?.touched
        ) {
          @if (loginForm.get('email')?.errors?.['required']) {
            <mat-error class="login__error">Email is required</mat-error>
          }
          @if (loginForm.get('email')?.errors?.['email']) {
            <mat-error class="login__error"
              >Please enter a valid email address</mat-error
            >
          }
        }

        <mat-form-field>
          <mat-label for="password">Password </mat-label>
          <input
            matInput
            id="password"
            type="password"
            formControlName="password" />
        </mat-form-field>
        @if (
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
        ) {
          @if (loginForm.get('password')?.errors?.['required']) {
            <mat-error class="login__error">Password is required</mat-error>
          }
          @if (loginForm.get('password')?.errors?.['minLength']) {
            <mat-error class="login__error"
              >Password should be at least 8 characters</mat-error
            >
          }
          @if (loginForm.get('password')?.errors?.['weakPassword']) {
            <mat-error class="login__error"
              >Please enter a valid password</mat-error
            >
          }
        }

        <div class="login__action">
          <button
            mat-flat-button
            type="submit"
            class="submit__btn"
            [disabled]="loading">
            @if (loading) {
              <span class="loading">Loading...</span>
            } @else {
              <span>Login</span>
            }
          </button>
          <a
            routerLink="/forgot-password"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Forgot password?</a
          >
        </div>
      </form>
    </div>
  </section>
</main>
