<app-spinner [isLoading]="isLoadingBudget" />

<app-info-card title="Request Distribution">
  <div viewMode></div>
  <div editMode>
    <div class="container">
      <mat-form-field appearance="outline">
        <mat-select
          [formControl]="requestForm.controls.budgetId"
          placeholder="Select Period"
          #singleSelect>
          <mat-option>
            <ngx-mat-select-search
              ngxMatSelectSearchClear="clear"
              placeholderLabel="Search budgets"
              noEntriesFoundLabel="No budget found"
              [formControl]="budgetsFilterCtrl"></ngx-mat-select-search>
          </mat-option>
          <mat-option
            *ngFor="let budget of filteredBudgets | async"
            [value]="budget.id">
            {{ budget.period }} {{ budget.year }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>School</mat-label>
        <input [formControl]="requestForm.controls.school" matInput />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Class</mat-label>
        <input [formControl]="requestForm.controls.class" matInput />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Tuition</mat-label>
        <input
          [formControl]="requestForm.controls.tuition"
          matInput
          type="number"
          class="currency-right-align"
          placeholder="0" />
        <span matTextPrefix>GH&#8373;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span matTextSuffix>.00</span>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Text Books</mat-label>
        <input
          [formControl]="requestForm.controls.textBooks"
          matInput
          type="number"
          class="currency-right-align"
          placeholder="0" />
        <span matTextPrefix>GH&#8373;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span matTextSuffix>.00</span>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Extra Classes</mat-label>
        <input
          [formControl]="requestForm.controls.extraClasses"
          matInput
          type="number"
          class="currency-right-align"
          placeholder="0" />
        <span matTextPrefix>GH&#8373;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span matTextSuffix>.00</span>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Exam Fee</mat-label>
        <input
          [formControl]="requestForm.controls.examFee"
          matInput
          type="number"
          class="currency-right-align"
          placeholder="0" />
        <span matTextPrefix>GH&#8373;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span matTextSuffix>.00</span>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Uniform or Bag</mat-label>
        <input
          [formControl]="requestForm.controls.uniformBag"
          matInput
          type="number"
          class="currency-right-align"
          placeholder="0" />
        <span matTextPrefix>GH&#8373;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span matTextSuffix>.00</span>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Excursion</mat-label>
        <input
          [formControl]="requestForm.controls.excursion"
          matInput
          type="number"
          class="currency-right-align"
          placeholder="0" />
        <span matTextPrefix>GH&#8373;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span matTextSuffix>.00</span>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Transportation</mat-label>
        <input
          [formControl]="requestForm.controls.transportation"
          matInput
          type="number"
          class="currency-right-align"
          placeholder="0" />
        <span matTextPrefix>GH&#8373;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span matTextSuffix>.00</span>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Stationery</mat-label>
        <input
          [formControl]="requestForm.controls.stationery"
          matInput
          type="number"
          class="currency-right-align"
          placeholder="0" />
        <span matTextPrefix>GH&#8373;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span matTextSuffix>.00</span>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Foot or Under Wears</mat-label>
        <input
          [formControl]="requestForm.controls.wears"
          matInput
          type="number"
          class="currency-right-align"
          placeholder="0" />
        <span matTextPrefix>GH&#8373;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span matTextSuffix>.00</span>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>School Feeding</mat-label>
        <input
          [formControl]="requestForm.controls.schoolFeeding"
          matInput
          type="number"
          class="currency-right-align"
          placeholder="0" />
        <span matTextPrefix>GH&#8373;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span matTextSuffix>.00</span>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>School Feeding</mat-label>
        <input
          [formControl]="requestForm.controls.schoolFeeding"
          matInput
          type="number"
          class="currency-right-align"
          placeholder="0" />
        <span matTextPrefix>GH&#8373;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span matTextSuffix>.00</span>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Provisions</mat-label>
        <input
          [formControl]="requestForm.controls.provision"
          matInput
          type="number"
          class="currency-right-align"
          placeholder="0" />
        <span matTextPrefix>GH&#8373;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span matTextSuffix>.00</span>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Home Care</mat-label>
        <input
          [formControl]="requestForm.controls.homeCare"
          matInput
          type="number"
          class="currency-right-align"
          placeholder="0" />
        <span matTextPrefix>GH&#8373;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span matTextSuffix>.00</span>
      </mat-form-field>
    </div>
    <div class="total-distribution">
      <mat-chip class="status__chip__active">
        <span>Total Distribution: GH&#8373; {{ updateTotal() }}</span>
      </mat-chip>
    </div>
  </div>
</app-info-card>
<div class="actions">
  <button
    (click)="cancel()"
    [disabled]="isLoading"
    class="submit__btn cancel"
    mat-flat-button
    mat-dialog-close
    type="button">
    <span>Cancel</span>
  </button>
  <button
    [disabled]="isLoading"
    class="submit__btn"
    mat-flat-button
    color="primary"
    (click)="submit()"
    type="submit">
    @if (isLoading) {
      <span class="loading">Loading...</span>
    } @else {
      <span>Save</span>
    }
  </button>
</div>
