@use '../../../../scss/colors.scss' as colors;
@use '../../../../scss/global' as font;

$border-radius: 50px;
$background-color: #cccccc;
$border: 1px solid $background-color;
$height: 30px;
$padding: 0 5px;

.financial-report__container {
  background: white;
  margin: 20px;

  .financial-report__title {
    font-size: 22px;
    color: map-get(colors.$primary-palette, 500);
    margin-left: 15px;
  }

  .financial-report__description {
    font-size: font.$font-size-sm;
    margin-left: 15px;
    margin-top: 10px;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin: 20px 0;

  mat-form-field {
    width: 100%;
  }
}

.actions {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  margin-bottom: 2rem;

  .submit__btn {
    border-radius: 6.25rem;
    padding: 10px 24px;
    height: 40px;
  }
}

.bar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.bar-chart {
  border: 1px solid colors.$schemes-surface-variant;
  padding: 20px;
  margin: 30px;
  border-radius: 10px;
}

.download__btn {
  border: 1px solid colors.$sys-light-outline;
  border-radius: 6.25rem;
  margin-left: 15px;
}

.bar-right-header {
  display: flex;
  align-items: center;
}

.selectWrapper,
.selectYearWrapper {
  display: inline-block;
  overflow: hidden;
  background: $background-color;
  border: $border;

  &.selectWrapper {
    border-radius: $border-radius 0 0 $border-radius;
  }

  &.selectYearWrapper {
    border-radius: 0 $border-radius $border-radius 0;
  }

  .selectBox,
  .selectYearBox {
    height: $height;
    border: 0;
    outline: none;
    padding: $padding;
  }
}
