@import '../../../scss/colors';

.main-container {
  display: flex;
  margin: 16px 24px;
  justify-content: center;
  flex-direction: column;
}

.text-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  flex-direction: column;
  align-items: center;
}

.illustration-container {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 22px;
  font-weight: 700;
}

.primary {
  color: map-get($primary-palette, 500);
}

.warn {
  color: $schemes-error;
}

.subtext {
  font-size: 14px;
  color: $sys-light-on-surface-variant;
  text-align: center;
  margin-top: 0.5rem;
  max-width: 15rem;
}

.action__close {
  display: flex;
  justify-content: center;
}

.action-container {
  margin-top: 1rem;
}

.submit__btn {
  border-radius: 6.25rem;
  padding: 10px 24px;
  height: 40px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;

  .cancel {
    border: 1px solid $sys-light-outline;
    color: $sys-light-outline;
  }
}
