<app-spinner [isLoading]="isLoadingStudents || isLoadingDisbursement" />
@if (showToggle) {
  <div class="upload-wrapper">
    <div class="upload-wrapper">
      <p>
        <mat-slide-toggle [formControl]="others" color="primary"
          >Others</mat-slide-toggle
        >
      </p>
    </div>
  </div>
}
<app-info-card title="Disbursement Details">
  <div viewMode></div>
  <div editMode [formGroup]="disbursementForm" class="container">
    @if (!others.value) {
      <mat-form-field appearance="outline">
        <mat-select
          [formControl]="disbursementForm.controls.studentId"
          placeholder="Student Name"
          #singleSelect>
          <mat-option>
            <ngx-mat-select-search
              ngxMatSelectSearchClear="clear"
              placeholderLabel="Search Students"
              noEntriesFoundLabel="No student found"
              [formControl]="studentsFilterCtrl"></ngx-mat-select-search>
          </mat-option>
          <mat-option
            *ngFor="let student of filteredStudents | async"
            [value]="student.id">
            {{ student.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    } @else {
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input
          [matAutocomplete]="auto"
          [formControl]="disbursementForm.controls.title"
          matInput />
        <mat-autocomplete #auto="matAutocomplete">
          @for (option of filteredOptions | async; track option) {
            <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    }
    <mat-form-field appearance="outline">
      <mat-label>Amount</mat-label>
      <input
        [formControl]="disbursementForm.controls.amount"
        matInput
        type="number"
        class="currency-right-align"
        placeholder="0" />
      <span matTextPrefix>GH&#8373;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <span matTextSuffix>.00</span>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Select Period</mat-label>
      <mat-select [formControl]="disbursementForm.controls.period">
        @for (budgetPeriod of budgetPeriods; track budgetPeriod.value) {
          <mat-option [value]="budgetPeriod.value">{{
            budgetPeriod.label
          }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Select Year</mat-label>
      <mat-select [formControl]="disbursementForm.controls.year">
        @for (year of getYearsDropDownValues().slice(1); track year.value) {
          <mat-option [value]="year.value">{{ year.label }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
</app-info-card>
<div class="actions">
  <button
    (click)="cancel()"
    [disabled]="isLoading"
    class="submit__btn cancel"
    mat-flat-button
    mat-dialog-close
    type="button">
    <span>Cancel</span>
  </button>
  <button
    [disabled]="isLoading || isFormInValid()"
    class="submit__btn"
    mat-flat-button
    color="primary"
    (click)="submit()"
    type="submit">
    @if (isLoading) {
      <span class="loading">Loading...</span>
    } @else {
      <span>Save</span>
    }
  </button>
</div>
