@if (isLoadingStudents) {
  <div class="empty-table loading-results">
    <mat-spinner></mat-spinner>
  </div>
}
<div class="upload-wrapper">
  <button
    (click)="fileUpload.click()"
    class="add__btn btn"
    mat-flat-button
    color="primary">
    <mat-icon>upload</mat-icon>
    Upload Disbursement
  </button>
  <input
    type="file"
    class="file-input"
    (change)="bulkUpload($event)"
    #fileUpload />
</div>
<app-info-card title="Disbursement Details">
  <div viewMode></div>
  <div editMode [formGroup]="disbursementForm" class="container">
    <mat-form-field appearance="outline">
      <mat-select
        [formControl]="disbursementForm.controls.studentId"
        placeholder="Student Name"
        #singleSelect>
        <mat-option>
          <ngx-mat-select-search
            ngxMatSelectSearchClear="fsdfsd"
            placeholderLabel="Search Students"
            noEntriesFoundLabel="No student found"
            [formControl]="studentsFilterCtrl"></ngx-mat-select-search>
        </mat-option>
        <mat-option
          *ngFor="let student of filteredStudents | async"
          [value]="student.id">
          {{ student.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Amount</mat-label>
      <input
        formControlName="amount"
        matInput
        type="number"
        class="currency-right-align"
        placeholder="0" />
      <span matTextPrefix>GH&#8373;&nbsp;</span>
      <span matTextSuffix>.00</span>
    </mat-form-field>
  </div>
</app-info-card>
<app-info-card title="Disbursement Distribution">
  <div viewMode></div>
  <div editMode>
    @if (showBanner) {
      <app-banner
        [text]="bannerText"
        [backgroundColor]="'blue'"
        (closeBtn)="closeBanner()" />
    }
    <div class="container">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input
          [formControl]="distributionForm.controls.title"
          matInput
          type="text" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input
          [formControl]="distributionForm.controls.amount"
          matInput
          type="number"
          class="currency-right-align"
          placeholder="0" />
        <span matTextPrefix>GH&#8373;&nbsp;</span>
        <span matTextSuffix>.00</span>
      </mat-form-field>
    </div>
    <div class="add__distribution">
      <button
        [disabled]="distributionForm.invalid"
        class="submit__btn"
        mat-flat-button
        color="primary"
        (click)="addDistribution()"
        type="submit">
        <span>Add</span>
      </button>
    </div>
    <div class="distribution-lists">
      @for (
        distribution of disbursementDistributions.value;
        track distribution;
        let index = $index
      ) {
        <div class="distribution-list">
          <span>{{ distribution.title }}</span>
          <span>GH&#8373;&nbsp;{{ distribution.amount }}</span>
          <button (click)="deleteDistribution(index)" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      }
    </div>
  </div>
</app-info-card>
<div class="actions">
  <button
    (click)="cancel()"
    [disabled]="isLoading"
    class="submit__btn cancel"
    mat-flat-button
    mat-dialog-close
    type="button">
    <span>Cancel</span>
  </button>
  <button
    [disabled]="isLoading || disbursementForm.invalid"
    class="submit__btn"
    mat-flat-button
    color="primary"
    (click)="submit()"
    type="submit">
    @if (isLoading) {
      <span class="loading">Loading...</span>
    } @else {
      <span>Save</span>
    }
  </button>
</div>
