@import '../../../scss/colors';
@import '../../../scss/global';

.reset-password__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .reset-password__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .reset-password__form {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .reset-password__logo {
        text-align: center;
      }

      .reset-password__header {
        text-align: center;

        h1 {
          color: map-get($primary-palette, 500);
          font-weight: $font-weight-md;
          line-height: $line-height-lg;
          font-size: $font-size-xl;
        }
      }
    }
  }
}

.reset-password__form__container {
  display: flex;
  flex-direction: column;
  width: 419px;
  height: 124px;

  .reset-password__error {
    margin-top: -1rem;
    margin-bottom: 5px;
    font-size: small;
    padding-top: 5px;
  }

  .reset-password__action {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
  }
}

.submit__btn {
  border-radius: 6.25rem;
  padding: 10px 24px;
  width: 84px;
  height: 40px;
}

.mat-mdc-unelevated-button:not(:disabled) {
  color: $light-primary-text;
  background-color: map-get($primary-palette, 500);
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  font-weight: $font-weight-sm;
}

@media (max-width: 850px) {
  .reset-password__illustration {
    display: none;
  }
}

@media (max-width: 475px) {
  .reset-password__form__container {
    width: 300px;
  }
}

.loading {
  font-size: 12px;
}
