<div class="grid-container">
  <h1 class="students__title">Funds</h1>
  <p class="students__description">List of all funds of SEF</p>
  <div class="students__table__container">
    <div class="actions__wrapper">
      <div class="actions__left">
        <span>Funds</span>
        <div class="search__input__wrapper"></div>
      </div>
      <div class="actions__right">
        <button
          [matMenuTriggerFor]="filter"
          class="filter__btn btn"
          mat-flat-button>
          <mat-icon>filter_list</mat-icon>
          Filter by
        </button>
        <mat-menu #filter="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="period">Period</button>
          <button mat-menu-item [matMenuTriggerFor]="year">Year</button>
        </mat-menu>
        <mat-menu #period="matMenu">
          <mat-radio-group [formControl]="periodControl">
            @for (period of budgetPeriods; track period.value) {
              <button mat-menu-item>
                <mat-radio-button [value]="period.value" color="primary">
                  {{ period.label }}
                </mat-radio-button>
              </button>
            }
          </mat-radio-group>
        </mat-menu>
        <mat-menu #year="matMenu">
          <mat-radio-group [formControl]="yearControl">
            @for (year of getYearsDropDownValues(); track year.value) {
              <button mat-menu-item>
                <mat-radio-button [value]="year.value" color="primary">
                  {{ year.label }}
                </mat-radio-button>
              </button>
            }
          </mat-radio-group>
        </mat-menu>
        <!--        <button-->
        <!--          [disabled]="!data.length"-->
        <!--          class="download__btn btn"-->
        <!--          mat-flat-button>-->
        <!--          <mat-icon>download</mat-icon>-->
        <!--          Download CSV-->
        <!--        </button>-->
        <button
          (click)="addFund()"
          class="add__btn btn"
          mat-flat-button
          color="primary">
          <mat-icon>add</mat-icon>
          New Fund
        </button>
      </div>
    </div>
    @if (isLoadingResults) {
      <div class="empty-table loading-results">
        @if (isLoadingResults) {
          <mat-spinner></mat-spinner>
        }
      </div>
    }
    @if (!isLoadingResults && !data.length) {
      <div class="empty-table no-results">
        <span>No funds found</span>
      </div>
    }
    <div class="students-table-container">
      <table
        mat-table
        [dataSource]="data"
        class="example-table"
        matSort
        matSortActive="created"
        matSortDisableClear
        matSortDirection="desc">
        <!-- Number Column -->
        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef>Date Created</th>
          <td mat-cell *matCellDef="let row">{{ row.created_at | date }}</td>
        </ng-container>
        <ng-container matColumnDef="period">
          <th mat-header-cell *matHeaderCellDef>Period</th>
          <td mat-cell *matCellDef="let row">{{ row.period }}</td>
        </ng-container>
        <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef>Year</th>
          <td mat-cell *matCellDef="let row">
            {{ row.year }}
          </td>
        </ng-container>
        <ng-container matColumnDef="comments">
          <th mat-header-cell *matHeaderCellDef>Comments</th>
          <td mat-cell *matCellDef="let row">
            {{ row.comments }}
          </td>
        </ng-container>
        <ng-container matColumnDef="source">
          <th mat-header-cell *matHeaderCellDef>Source</th>
          <td mat-cell *matCellDef="let row">
            {{ row.title }}
          </td>
        </ng-container>

        <ng-container matColumnDef="more">
          <th mat-header-cell *matHeaderCellDef>More</th>
          <td mat-cell *matCellDef="let row">
            <button
              (click)="$event.stopPropagation()"
              [matMenuTriggerFor]="menu"
              mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button (click)="addFund(row)" mat-menu-item>
                <mat-icon>edit</mat-icon>Edit
              </button>
              <button
                (click)="deleteStudent(row.id)"
                class="delete__btn"
                mat-menu-item>
                <mat-icon color="warn">delete</mat-icon>Delete
              </button>
            </mat-menu>
          </td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let row">
            {{ row.amount | currency: 'GH&#8373; ' }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="row"></tr>
      </table>
    </div>

    <mat-paginator
      [length]="totalItems"
      [pageSize]="10"
      (page)="onPaginationChange($event)"
      [pageIndex]="page.value ? page.value - 1 : 0"
      [pageSizeOptions]="[]"></mat-paginator>
  </div>
</div>
