<main class="forgot-password__container">
  <section class="forgot-password__wrapper">
    <div class="forgot-password__illustration">
      <img alt="forgot_password" src="assets/forgot_password.svg" />
    </div>
    <div class="forgot-password__form">
      <div class="forgot-password__logo">
        <img alt="logo" src="assets/logo.svg" />
      </div>
      <div class="forgot-password__header">
        <h1>Forgot password?</h1>
        <p>
          All good. Enter your email and we’ll send you a <br />
          link to reset your password
        </p>
      </div>
      <form
        (ngSubmit)="onSubmit()"
        [formGroup]="emailForm"
        class="forgot-password__form__wrapper">
        <mat-form-field appearance="outline">
          <mat-label for="email">Email</mat-label>
          <input formControlName="email" id="email" matInput type="email" />
        </mat-form-field>
        @if (
          emailForm.get('email')?.invalid && emailForm.get('email')?.touched
        ) {
          @if (emailForm.get('email')?.errors?.['required']) {
            <mat-error class="forgot-password__form__error"
              >Email is required
            </mat-error>
          }
          @if (emailForm.get('email')?.errors?.['email']) {
            <mat-error class="forgot-password__form__error"
              >Please enter a valid email address
            </mat-error>
          }
        }
        <div class="forgot-password__action">
          <button
            [disabled]="loading"
            class="submit__btn"
            mat-flat-button
            type="submit">
            @if (loading) {
              <span class="loading">Loading...</span>
            } @else {
              <span>Send link</span>
            }
          </button>
          <div class="forgot-password__action__text">
            <a
              ariaCurrentWhenActive="page"
              routerLink="/login"
              routerLinkActive="active">
              <img alt="back" src="assets/back.svg" />
              <span>Login</span>
            </a>
          </div>
        </div>
      </form>
    </div>
  </section>
</main>
