<div class="container">
  @if (isMobile) {
    <mat-toolbar>
      <div class="dashboard-toolbar-items__mobile">
        <mat-icon
          (click)="toggleMenu()"
          class="menu_mobile"
          color="#41484D"
          fontSet="material-icons-outlined"
          >menu
        </mat-icon>
        <img
          alt="logo"
          class="logo"
          height="38"
          ngSrc="assets/logo.svg"
          width="44" />
        <div class="toolbar-right__mobile">
          <!--          TODO: Notifications cannot be implemented at this point. Maybe in the future-->
          <!--          <mat-icon color="#41484D" fontSet="material-icons-outlined"-->
          <!--            >notifications_outline-->
          <!--          </mat-icon>-->
          <ngx-avatars
            [matMenuTriggerFor]="avatar"
            [name]="userName()"
            class="avatar"
            size="40"
            src=""></ngx-avatars>
          <mat-menu #avatar="matMenu">
            <div class="username__mobile">
              <span>{{ userName() }}</span>
            </div>
            <button mat-menu-item>
              <mat-icon>person</mat-icon>
              <span>Profile</span>
            </button>
            <button disabled mat-menu-item>
              <mat-icon>settings</mat-icon>
              <span>Settings</span>
            </button>
            <button (click)="logout()" mat-menu-item>
              <mat-icon>logout</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </mat-toolbar>
  } @else {
    <mat-toolbar>
      <div class="dashboard-toolbar-items">
        <img
          alt="logo"
          class="logo"
          height="58"
          ngSrc="assets/logo.svg"
          width="64" />
        <div class="toolbar-right">
          <!--          TODO: Notifications cannot be implemented at this point. Maybe in the future-->
          <!--          <mat-icon color="#41484D" fontSet="material-icons-outlined"-->
          <!--            >notifications_outline-->
          <!--          </mat-icon>-->
          <span>{{ userName() }}</span>
          <ngx-avatars
            [matMenuTriggerFor]="avatar"
            [name]="userName()"
            class="avatar"
            size="40"
            src=""></ngx-avatars>
          <mat-menu #avatar="matMenu">
            <!--            TODO: User profile will also be looked at maybe in the future-->
            <!--            <button mat-menu-item>-->
            <!--              <mat-icon>person</mat-icon>-->
            <!--              <span>Profile</span>-->
            <!--            </button>-->
            <button routerLink="settings" mat-menu-item>
              <mat-icon>settings</mat-icon>
              <span>Settings</span>
            </button>
            <button (click)="logout()" mat-menu-item>
              <mat-icon>logout</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </mat-toolbar>
  }
  <mat-sidenav-container autosize>
    <mat-sidenav
      [mode]="isMobile ? 'over' : 'side'"
      [ngClass]="!isCollapsed ? 'expanded' : ''"
      [opened]="isMobile ? 'false' : 'true'">
      <mat-nav-list>
        @if (!isMobile) {
          <a mat-list-item>
            <button
              (click)="toggleMenu()"
              aria-label="Menu icon"
              mat-icon-button>
              <mat-icon>menu</mat-icon>
            </button>
          </a>
        }
        <div class="navigation-items">
          <div>
            <a class="nav-item" mat-list-item>
              <span
                class="entry"
                matTooltip="Overview"
                matTooltipPosition="right"
                routerLink="overview"
                routerLinkActive="entry__active">
                <mat-icon>grid_view</mat-icon>
                @if (!isCollapsed) {
                  <span>Overview</span>
                }
              </span>
            </a>
            @if (
              getUserRole() === UserRoles.ADMIN ||
              getUserRole() === UserRoles.SUPER_ADMIN
            ) {
              <a class="nav-item" mat-list-item>
                <span
                  class="entry"
                  matTooltip="Students"
                  matTooltipPosition="right"
                  routerLink="students"
                  routerLinkActive="entry__active">
                  <mat-icon>groups</mat-icon>
                  @if (!isCollapsed) {
                    <span>Students</span>
                  }
                </span>
              </a>
            }
            @if (getUserRole() === UserRoles.BENEFICIARY) {
              <a class="nav-item" mat-list-item>
                <span
                  class="entry"
                  matTooltip="Profile"
                  matTooltipPosition="right"
                  [routerLink]="'student-profile/' + userId()"
                  routerLinkActive="entry__active">
                  <mat-icon>person_pin</mat-icon>
                  @if (!isCollapsed) {
                    <span>Profile</span>
                  }
                </span>
              </a>
            }
            @if (getUserRole() === UserRoles.BENEFICIARY) {
              <a class="nav-item" mat-list-item>
                <span
                  class="entry"
                  matTooltip="Profile"
                  matTooltipPosition="right"
                  [routerLink]="'requests'"
                  routerLinkActive="entry__active">
                  <mat-icon>request_quote</mat-icon>
                  @if (!isCollapsed) {
                    <span>Requests</span>
                  }
                </span>
              </a>
            }
            @if (getUserRole() === UserRoles.SUPER_ADMIN) {
              @if (!isCollapsed) {
                <mat-tree
                  class="nav-item"
                  [dataSource]="dataSource"
                  [treeControl]="treeControl">
                  <mat-tree-node *matTreeNodeDef="let node; when: hasChild">
                    <a
                      style="border: none"
                      matTreeNodeToggle
                      class="nav-item"
                      [matTooltip]="node.name"
                      matTooltipPosition="right"
                      mat-list-item>
                      <span
                        role="button"
                        (keyup)="('')"
                        tabindex=""
                        style="border: none"
                        class="entry"
                        [class.entry__active]="getFinanceActiveCSS(node.name)"
                        (click)="routeFinance(node.name)"
                        [attr.aria-label]="'Toggle ' + node.name">
                        @if (node.name === 'Finance') {
                          <mat-icon>payments</mat-icon>
                        } @else {
                          <span></span>
                        }
                        @if (!isCollapsed) {
                          <span
                            [class.tree--entry__active]="
                              getOtherFinanceActiveCSS(node.name)
                            "
                            class="tree-entry"
                            >{{ node.name }}</span
                          >
                        }
                      </span>
                    </a>
                  </mat-tree-node>
                </mat-tree>
              } @else {
                <a
                  [matMenuTriggerFor]="financeMenu"
                  class="nav-item"
                  mat-list-item>
                  <span
                    [class.entry__active]="getFinanceActiveCSS('Finance')"
                    class="entry"
                    matTooltip="Finance"
                    matTooltipPosition="right">
                    <mat-icon>payments</mat-icon>
                    @if (!isCollapsed) {
                      <span>Finance</span>
                    }
                  </span>
                </a>
                <mat-menu
                  #financeMenu="matMenu"
                  xPosition="after"
                  yPosition="below">
                  <button
                    (click)="routeFinance('Budget Allocation')"
                    [class.tree--entry__active]="
                      getOtherFinanceActiveCSS('Budget Allocation')
                    "
                    mat-menu-item>
                    Budget Allocation
                  </button>
                  <button
                    (click)="routeFinance('Disbursements')"
                    [class.tree--entry__active]="
                      getOtherFinanceActiveCSS('Disbursements')
                    "
                    mat-menu-item>
                    Disbursements
                  </button>
                  <button
                    (click)="routeFinance('Financial Report')"
                    [class.tree--entry__active]="
                      getOtherFinanceActiveCSS('Financial Report')
                    "
                    mat-menu-item>
                    Financial Report
                  </button>
                </mat-menu>
              }
            }
            @if (getUserRole() === UserRoles.SUPER_ADMIN) {
              <a class="nav-item" mat-list-item>
                <span
                  matTooltip="User administration"
                  matTooltipPosition="right"
                  routerLink="user-administration"
                  class="entry"
                  routerLinkActive="entry__active">
                  <mat-icon>person</mat-icon>
                  @if (!isCollapsed) {
                    <span>User administration</span>
                  }
                </span>
              </a>
            }
            @if (
              getUserRole() === UserRoles.ADMIN ||
              getUserRole() === UserRoles.SUPER_ADMIN
            ) {
              <a class="nav-item" mat-list-item>
                <span
                  class="entry"
                  matTooltip="Schools"
                  matTooltipPosition="right"
                  routerLink="schools"
                  routerLinkActive="entry__active">
                  <mat-icon>school</mat-icon>
                  @if (!isCollapsed) {
                    <span>Schools</span>
                  }
                </span>
              </a>
            }
            <a class="nav-item" mat-list-item>
              <span
                class="entry"
                matTooltip="Performance"
                matTooltipPosition="right">
                <mat-icon>bar_chart</mat-icon>
                @if (!isCollapsed) {
                  <span>Performance</span>
                }
              </span>
            </a>
          </div>
          <div class="navigation-bottom-items">
            <a class="nav-item" mat-list-item>
              <span
                class="entry"
                matTooltip="Settings"
                matTooltipPosition="right"
                routerLink="settings"
                routerLinkActive="entry__active">
                <mat-icon>settings</mat-icon>
                @if (!isCollapsed) {
                  <span>Settings</span>
                }
              </span>
            </a>
            <!--Will probably be need but not now -->
            <!--            <a class="nav-item" mat-list-item>-->
            <!--              <span-->
            <!--                class="entry"-->
            <!--                matTooltip="Help and support"-->
            <!--                matTooltipPosition="right">-->
            <!--                <mat-icon>help</mat-icon>-->
            <!--                @if (!isCollapsed) {-->
            <!--                  <span>Help and support</span>-->
            <!--                }-->
            <!--              </span>-->
            <!--            </a>-->
            <button
              style="border: none"
              (click)="logout()"
              class="nav-item"
              mat-list-item>
              <span
                class="entry"
                matTooltip="Logout"
                matTooltipPosition="right">
                <mat-icon>logout</mat-icon>
                @if (!isCollapsed) {
                  <span>Logout</span>
                }
              </span>
            </button>
          </div>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
