<main class="forgot-password__container">
  <section class="forgot-password__wrapper">
    <div class="forgot-password__illustration">
      <img src="../../assets/forgot_password.svg" alt="forgot_password" />
    </div>
    <div class="forgot-password__form">
      <div class="forgot-password__logo">
        <img src="../../assets/logo.svg" alt="logo" />
      </div>
      <div class="forgot-password__header">
        <h1>Forgot password?</h1>
        <p>
          All good. Enter your email and we’ll send you a <br />
          link to reset your password
        </p>
      </div>
      <form
        [formGroup]="emailForm"
        (ngSubmit)="onSubmit()"
        class="forgot-password__form__wrapper">
        <mat-form-field>
          <mat-label for="email">Email </mat-label>
          <input matInput id="email" type="email" formControlName="email" />
        </mat-form-field>
        @if (
          emailForm.get('email')?.invalid && emailForm.get('email')?.touched
        ) {
          @if (emailForm.get('email')?.errors?.['required']) {
            <mat-error class="forgot-password__form__error"
              >Email is required</mat-error
            >
          }
          @if (emailForm.get('email')?.errors?.['email']) {
            <mat-error class="forgot-password__form__error"
              >Please enter a valid email address</mat-error
            >
          }
        }
        <div class="forgot-password__action">
          <button mat-flat-button type="submit" class="submit__btn">
            Send link
          </button>
          <div class="forgot-password__action__text">
            <a
              routerLink="/login"
              routerLinkActive="active"
              ariaCurrentWhenActive="page">
              <img src="../../assets/back.svg" alt="back" /> <span>Login</span>
            </a>
          </div>
        </div>
      </form>
    </div>
  </section>
</main>
