<div class="main-container">
  <div class="title">
    <span class="main">{{ title }}</span>
    <span class="sub">{{ subtext }}</span>
  </div>
  <form
    (ngSubmit)="submit()"
    [formGroup]="studentForm"
    class="add-user__form__container">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input formControlName="name" id="name" matInput type="text" />
      <mat-error>{{ getFormErrors('name') }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Parent's Name</mat-label>
      <input formControlName="parent" id="parent" matInput type="text" />
      <mat-error>{{ getFormErrors('parent') }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Grand Parent's Name</mat-label>
      <input
        formControlName="grandParent"
        id="grandParent"
        matInput
        type="text" />
      <mat-error>{{ getFormErrors('grandParent') }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Great Grand Parent's Name</mat-label>
      <input
        formControlName="greatGrandparent"
        id="greatGrandparent"
        matInput
        type="text" />
      <mat-error>{{ getFormErrors('greatGrandparent') }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Parent's Phone</mat-label>
      <input
        formControlName="parentPhone"
        id="parentPhone"
        matInput
        type="tel" />
      <mat-error>{{ getFormErrors('parentPhone') }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-select formControlName="school" placeholder="School" #singleSelect>
        <mat-option>
          <ngx-mat-select-search
            ngxMatSelectSearchClear=""
            placeholderLabel="Search school"
            noEntriesFoundLabel="No school found"
            [formControl]="schoolFilterCtrl"></ngx-mat-select-search>
        </mat-option>
        <mat-option
          *ngFor="let school of filteredSchools | async"
          [value]="school.id">
          {{ school.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Select Class</mat-label>
      <mat-select formControlName="level">
        @for (classItem of classesList; track classItem) {
          <mat-option [value]="classItem">{{ classItem }}</mat-option>
        }
      </mat-select>
      <mat-error>{{ getFormErrors('level') }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Phone</mat-label>
      <input formControlName="phone" id="phone" matInput type="tel" />
      <mat-error>{{ getFormErrors('phone') }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Extra Info</mat-label>
      <textarea
        formControlName="description"
        id="description"
        matInput
        placeholder="Add any description or comment"></textarea>
      <mat-error>{{ getFormErrors('description') }}</mat-error>
    </mat-form-field>
    <mat-checkbox
      color="primary"
      [formControl]="this.studentForm.controls.boardingHouse"
      class="boarding-house"
      >SEF Boarding House</mat-checkbox
    >
    <div class="actions">
      <button
        [disabled]="isLoading"
        class="submit__btn cancel"
        mat-flat-button
        mat-dialog-close
        type="button">
        <span>Cancel</span>
      </button>
      <button
        [disabled]="isLoading"
        class="submit__btn"
        mat-flat-button
        color="primary"
        type="submit">
        @if (isLoading) {
          <span class="loading">Loading...</span>
        } @else {
          <span>{{ buttonText }}</span>
        }
      </button>
    </div>
  </form>
</div>
