$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 24px;
$font-size-xl: 32px;
$font-size-xxl: 57px;

$font-weight-xsm: 400;
$font-weight-sm: 500;
$font-weight-md: 700;
$font-weight-lg: 900;

$line-height-sm: 20px;
$line-height-lg: 40px;
$line-height-xxl: 64px;
