<div class="user-profile__container">
  <div class="user-profile__wrapper">
    <h1 class="user-profile__title">Account information</h1>
    <p class="user-profile__description">Account details of the beneficiary</p>
    <ngx-avatars
      [name]="userName"
      class="avatar"
      size="120"
      src=""></ngx-avatars>

    <mat-card>
      <mat-card-header class="card__header">
        Personal information
      </mat-card-header>
      <mat-card-content class="card__content">
        <form [formGroup]="userProfileForm" class="user-profile-form">
          <div class="card-content__left">
            <mat-form-field appearance="outline">
              <mat-label>User ID</mat-label>
              <input matInput formControlName="userId" [disabled]="true" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" id="email" type="email" />
              <mat-error
                *ngIf="userProfileForm.get('email')?.hasError('required')">
                Email is required
              </mat-error>
              <mat-error
                *ngIf="userProfileForm.get('email')?.hasError('email')">
                Invalid email
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Parent's Name</mat-label>
              <input
                matInput
                formControlName="parentName"
                id="parentName"
                type="text" />
              <mat-error
                *ngIf="userProfileForm.get('parentName')?.hasError('required')">
                Parent's name is required
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Student's bio</mat-label>
              <textarea
                matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                formControlName="bio"
                id="bio"
                type="">
              </textarea>
              <mat-error
                *ngIf="userProfileForm.get('bio')?.hasError('required')">
                Student's name is required
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Right -->
          <div class="card-content__right">
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" id="name" type="text" />
              <mat-error
                *ngIf="userProfileForm.get('name')?.hasError('required')">
                Name is required
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Phone</mat-label>
              <input matInput formControlName="phone" id="phone" type="tel" />
              <mat-error
                *ngIf="userProfileForm.get('phone')?.hasError('required')">
                Phone number is required
              </mat-error>
              <mat-error
                *ngIf="userProfileForm.get('phone')?.hasError('pattern')">
                Invalid phone number
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Parent's Phone</mat-label>
              <input
                matInput
                formControlName="parentPhone"
                id="parentPhone"
                type="text" />
              <mat-error
                *ngIf="
                  userProfileForm.get('parentPhone')?.hasError('required')
                ">
                Parent's phone number is required
              </mat-error>
              <mat-error
                *ngIf="userProfileForm.get('parentPhone')?.hasError('pattern')">
                Invalid phone number
              </mat-error>
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
