.page-not-found__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .page-not-found__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h1 {
      font-size: var(--font-size-xl);
    }
  }
}
